# BELTRANS statistics

This notebook creates and displays statistics about the BELTRANS corpus. It aims to measure the improvement performed by different data integration or enrichment techniques.

In [1]:
import pandas as pd
import utils
from datetime import datetime

## Existing measurements

The measured statistics currently evolve like this:

todo

## Create new manifestation measurements

The following code is used to create new statistics. They can be saved to a CSV file and be taken into account in the section above about existing measurements.

In [2]:
corpus = pd.read_csv('./2022-05-23_kbr/csv/integrated-data-enriched.csv', index_col='targetIdentifier')
corpusNLFR = corpus[(corpus['sourceLanguage'] == 'Dutch') & (corpus['targetLanguage'] == 'French') ]
corpusFRNL = corpus[(corpus['sourceLanguage'] == 'French') & (corpus['targetLanguage'] == 'Dutch') ]
corpusOther = corpus[ ((corpus['sourceLanguage'] != 'Dutch') & (corpus['sourceLanguage'] != 'French')) | ((corpus['targetLanguage'] != 'Dutch') & (corpus['targetLanguage'] != 'French'))]

In [3]:
comment = "No changes to previous version."
measurements = pd.DataFrame([
  utils.createCorpusMeasurements(corpusFRNL, 'FR-NL', comment),
  utils.createCorpusMeasurements(corpusNLFR, 'NL-FR', comment),
  utils.createCorpusMeasurements(corpusOther, 'OTHER', comment)
])

In [4]:
measurements

,date,corpus,numberTranslations,withTargetISBN10,withTargetISBN13,withKBRIdentifier,withBnFIdentifier,withKBIdentifier,withBBThesaurusID,withSourceKBRIdentifier,withSourceTitle,withSourceISBN10,withSourceISBN13,comment
0,2022-05-23 11:24:43.870962,FR-NL,6891,6250,6252,6125,58,1817,5970,111,2291,80,97,No changes to previous version.
1,2022-05-23 11:24:44.123541,NL-FR,3731,3204,3228,3249,1211,724,2687,149,1119,133,134,No changes to previous version.
2,2022-05-23 11:24:44.220779,OTHER,236,190,190,230,65,11,201,1,9,1,1,No changes to previous version.

In [5]:
measurements.to_csv('2022-05-23-translation-stats.csv', index=False)

## Create new contributor measurements

In [6]:
personContributors = pd.read_csv('./2022-05-23_kbr/csv/contributors-persons.csv', index_col='contributorID')

In [7]:
personComment = "Only count persons who are actually contributing to manifestations of the corpus (author, translator, illustrator, scenarist, publishing director)."
personContributorsMeasurements = pd.DataFrame([
    utils.createContributorCorpusMeasurements(personContributors, personComment)
])

In [8]:
personContributorsMeasurements

,date,numberContributors,withKBRIdentifier,withBnFIdentifier,withKBIdentifier,withISNIIdentifier,withVIAFIdentifier,withWikidataIdentifier,withBirthDate,withDeathDate,...,withMultipleKBRIdentifiers,withMultipleBnFIdentifiers,withMultipleNTAIdentifiers,withMultipleISNIIdentifiers,withMultipleVIAFIdentifiers,withMultipleWikidataIdentifiers,withMultipleBirthDates,withMultipleDeathDates,withMultipleNationalities,comment
0,2022-05-23 11:24:44.368198,15681,10923,1764,6499,11803,7734,3879,3001,920,...,25,11,8,12,38,1,44,10,119,Only count persons who are actually contributi...

In [9]:
personContributorsMeasurements.to_csv('2022-05-23-person-contributor-stats.csv', index=False)