# BELTRANS statistics

This notebook creates and displays statistics about the BELTRANS corpus. It aims to measure the improvement performed by different data integration or enrichment techniques.

In [1]:
import pandas as pd
import utils
from datetime import datetime

## Existing measurements

The measured statistics currently evolve like this:

todo

## Create new manifestation measurements

The following code is used to create new statistics. They can be saved to a CSV file and be taken into account in the section above about existing measurements.

In [2]:
corpus = pd.read_csv('./2022-06-07_kbr/csv/integrated-data-enriched.csv', index_col='targetIdentifier')
corpusNLFR = corpus[(corpus['sourceLanguage'] == 'Dutch') & (corpus['targetLanguage'] == 'French') ]
corpusFRNL = corpus[(corpus['sourceLanguage'] == 'French') & (corpus['targetLanguage'] == 'Dutch') ]
corpusOther = corpus[ ((corpus['sourceLanguage'] != 'Dutch') & (corpus['sourceLanguage'] != 'French')) | ((corpus['targetLanguage'] != 'Dutch') & (corpus['targetLanguage'] != 'French'))]

In [3]:
comment = "Added publishing directors and included a column for source titles from KB."
measurements = pd.DataFrame([
  utils.createCorpusMeasurements(corpusFRNL, 'FR-NL', comment),
  utils.createCorpusMeasurements(corpusNLFR, 'NL-FR', comment),
  utils.createCorpusMeasurements(corpusOther, 'OTHER', comment)
])

In [4]:
measurements

,date,corpus,numberTranslations,withTargetISBN10,withTargetISBN13,withKBRIdentifier,withBnFIdentifier,withKBIdentifier,withBBThesaurusID,withSourceKBRIdentifier,withKBRSourceTitle,withKBSourceTitle,withSourceISBN10,withSourceISBN13,comment
0,2022-06-08 15:36:08.638846,FR-NL,7091,6445,6447,6325,58,1961,6168,116,2467,1961,84,101,Added publishing directors and included a colu...
1,2022-06-08 15:36:08.786324,NL-FR,3772,3240,3264,3290,1211,725,2727,150,1134,725,134,135,Added publishing directors and included a colu...
2,2022-06-08 15:36:08.876427,OTHER,246,200,200,240,65,11,211,1,9,11,1,1,Added publishing directors and included a colu...

In [5]:
measurements.to_csv('2022-06-07-translation-stats.csv', index=False)

## Create new contributor measurements

In [6]:
personContributors = pd.read_csv('./2022-06-07_kbr/csv/contributors-persons.csv', index_col='contributorID')

In [7]:
personComment = "Added columns with statistics about how many books a contributor authored, translated etc."
personContributorsMeasurements = pd.DataFrame([
    utils.createContributorCorpusMeasurements(personContributors, personComment)
])

In [8]:
personContributorsMeasurements

,date,numberContributors,withKBRIdentifier,withBnFIdentifier,withKBIdentifier,withISNIIdentifier,withVIAFIdentifier,withWikidataIdentifier,withBirthDate,withDeathDate,...,withMultipleKBRIdentifiers,withMultipleBnFIdentifiers,withMultipleNTAIdentifiers,withMultipleISNIIdentifiers,withMultipleVIAFIdentifiers,withMultipleWikidataIdentifiers,withMultipleBirthDates,withMultipleDeathDates,withMultipleNationalities,comment
0,2022-06-08 15:36:09.115154,16100,11342,1780,6499,12013,7757,3881,3045,923,...,25,11,8,12,38,1,45,10,120,Added columns with statistics about how many b...

In [9]:
personContributorsMeasurements.to_csv('2022-06-07-person-contributor-stats.csv', index=False)